# Check if a number falls within a given range

In [2]:

def test_range(n):
    
    if n in range(3, 9):
        
        print("%s is in the range" % str(n))
    
    else:
        
        print("The number is outside the given range.")


test_range(5)

5 is in the range

# Tuple sorting Lambda

In [4]:

subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]


print("Original list of tuples:")
print(subject_marks)


subject_marks.sort(key=lambda x: x[1])  # x:x[1], means lamda as func chooses second element(index) of the tuple to sort


print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

# Dict to List Map

In [7]:
def list_of_dicts(marks):
    keys = marks.keys()
    values = zip(*marks.values())
    return [dict(zip(keys, v)) for v in values]


marks = {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}


print("Original dictionary of lists:")
print(marks)


print("\n")


print("Split said dictionary of lists into list of dictionaries:")

print(list_of_dicts(marks))

Original dictionary of lists:
{'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}


Split said dictionary of lists into list of dictionaries:
[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

# Drop until Positive

In [9]:
import itertools as it

def drop_while(nums):
    return it.dropwhile(lambda x : x < 0, nums)

nums = [-1,-2,-3,4,-10,2,0,5,12]

print("Original list: ",nums)

result = drop_while(nums)
print("Drops elements from the iterable when a positive number arises \n",list(result))

Original list:  [-1, -2, -3, 4, -10, 2, 0, 5, 12]
Drops elements from the iterable when a positive number arises
 [4, -10, 2, 0, 5, 12]

# City Population Filter

In [13]:

cities = [
    ("New York", 8500000),
    ("Los Angeles", 4000000),
    ("Chicago", 2700000),
    ("Houston", 2300000),
    ("Phoenix", 1600000),
    ("Philadelphia", 1500000),
    ("San Antonio", 1500000),
]

print("list of city and population:")
print(cities)

def has_population_greater_than_two_million(city_population):
    return city_population[1] > 2000000


million_plus_cities = list(filter(has_population_greater_than_two_million, cities))

print("\nExtract cities with a population greater than 2 million:")

print(million_plus_cities)

list of city and population:
[('New York', 8500000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000), ('Phoenix', 1600000), ('Philadelphia', 1500000), ('San Antonio', 1500000)]

Extract cities with a population greater than 2 million:
[('New York', 8500000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000)]

In [14]:
#